@media (max-width: 767px) {
	.circle{
		width: 30vh;
		height: 30vh;
		margin-top: 20vh;
		&.start{
	    opacity: 1;
	    border: 20px solid #000;
	    animation: circle 2.6s ease-out;
	    animation-iteration-count: infinite;
		}
		&:hover{
		border: 80px solid #000;
		}
		&.selected{
		border: 30px solid #000;
		}
		&.selectedHover{
		 	border: 500px solid #000;
		background: url('../img/bg.jpg');
		}

	}

	section{
	  div{
	    width: 70vw;
	    margin-left: 10px;
	    p{
	    	display: none;
	    }
	  }
	}

	.access{
	  margin-top: 55vh;
	  text-align: left;
	}
	.back{
	  margin-top: 55vh;
	}

	.onepage-pagination {
	  position: fixed;
	  right: 50px;
	  top: 50vh;
	  z-index: 5;
	  list-style: none;
	  margin: 0;
	  padding: 0;
	}


	.scroll-line{
	  width: 90%; 
	}
	.scroll{
	  margin-right: 5px; 
	  display: none;
	}

}
