/*****************/
/**** GENERAL ****/
/*****************/

html{
	scroll-behavior: smooth;
}
html,body{
	margin: 0; 
	padding: 0;
	background: #17191B; 
}

body{
	color: #5B6169; 
	font-family: 'Manrope', sans-serif;
	font-size: 18px;
}

/****************/
/**** COLORS ****/
/****************/

/* BLACK #17191B 			*/
/* GREY #E6E9ED 
/* LIGHT GREY #E6E9ED		*/
/* WHITE #ffffff 			*/
/* BLUE #3CC5EF 
/* HOVER HIGHLIGHT #F4F6F8	*/

/* Text-Grey-Dark #5B6169 	*/
/* Text-Grey-Light #B9C1CC 	*/


/********************/
/**** TYPOGRAPHY ****/
/********************/

h1{
	font-size: 1.6em;
	font-weight: 400;
	line-height: 1.4;
	text-align: left;
	text-transform: uppercase;
	letter-spacing: 5px;
	color: #ffffff;
}

h2{
	font-weight: normal;
	line-height: 1;
	text-transform: uppercase;
	letter-spacing: 4px;
	color: #17191B;
}

h3{
	font-weight: bold;
	line-height: 1.5;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: #17191B;
	margin: 0;
}

h4{
	line-height: 1.5;
	text-align: ;
	text-transform: uppercase;
}

p{
	line-height: 1.5;
	color: #5B6169;
}

header p{
	font-weight: normal;
	line-height: 1.5;
	color: #B9C1CC;
}

.info p{
	font-size: 0.7em;
	font-weight: normal;
	line-height: 1.5;
	text-align: right;
	color: #5B6169;
}

footer p{
	font-size: 0.7em;
	font-weight: normal;
	line-height: 1.5;
	text-align: center;
	color: #B9C1CC;
}

footer h4{
	font-size: 0.7em;
	font-weight: normal;
	line-height: 1.5;
	text-align: center;
	color: #B9C1CC;
}

a{
	font-weight: normal;
	line-height: 1.5;
	text-align: center;
	text-decoration: none;
	letter-spacing: 1px;
	color: #5B6169;
	transition: all 0.7s;
}

a:hover{
	color: #B9C1CC;
}

/******************/
/**** ELEMENTS ****/
/******************/

.logo-big{
	position: absolute;
	width: 40vw;
	top: 40vh;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;

}

span.delimiter{
	width: 80px;
	height: 3px;
	background: #3CC5EF;
	display: block;
}

.arrow-down{
	background: url(../img/arrow-down.svg) no-repeat center center;
	width: 24px;
	height: 24px;

	position: absolute;
	left: 0;
	right: 0;
	margin: 0 auto;
	opacity: 1;

	animation-duration: 1s;
  	animation-name: scrolldown-indicator;
  	animation-iteration-count: infinite;
  	animation-direction: alternate;
}

@keyframes scrolldown-indicator {
  from {
    margin: 0 auto;
    opacity: 1;
  }

  to {
    margin: 10px auto;
    opacity: 0.2;
  }
}
.scroll-top{
	background: red;
	padding: 100px;
}

.scroll-top .arrow-down{
	transform: rotate(180deg);
}

/****************/
/**** LAYOUT ****/
/****************/

.wrapper{
	background: #FFFFFF;
}

.container{
	max-width: 740px;
	margin: 0 auto;
	padding: 0 20px;
}

header{
	background: #17191B;
	padding: 10vw 0;
}

section{
	padding: 10vw 0;
}

.info{
	clear: both;
	margin-top: 10vw: 
}

footer{
	padding: 4vw;
	border-top: 1px solid #B9C1CC;
}

/*.footer{
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	
	text-align: center;
	padding: 80px 40px; 
	font-size: 0.8em;
}*/

/***************/
/**** LISTS ****/
/***************/

ul{
	list-style: none;
	margin: 0;
	padding: 0;
	clear: both;
}

li{
	margin: 0;
	padding: 0;
}

.pricelist-category{
	clear: both;
	margin: 5vw 0;
	display: flow-root; 
}

.item-category{
	margin: 1vw 0;
	position: relative;
	float: left;
	width: 100%;
}

.item{
	position: relative;
	width: 100%;
	min-height: 100px;
	padding: 8px 8px 8px 0;

	border: 1px solid #FFFFFF;

    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    align-items: center;

    transition: all 0.5s;

}

.item-attached{
	border: 1px solid #E6E9ED;
	width: 100%;
	min-height: 56px;

	padding: 8px 8px 8px 0;

	display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    align-items: center;

    transition: all 0.5s;
}

.item:hover, .item-attached:hover{
	background: #F4F6F8;
}

.item-name{
	float: left;
	width: 70%;
}

.item-name p{
	word-wrap: break-word;
	overflow-wrap: break-word;
}

.item-attached .item-name p{
	padding-left: 8px;  
}

.item-price{
	float: left;
	width: 30%;
}

.price-label{
	float: right;
	background: #E6E9ED;
	text-align: center;
	margin: 1px;
	color: #17191B;
	width: 96px;
	height: 40px;
	line-height: 40px;
	display: block;
	font-size: 0.9em;
}



/****************/
/**** Button ****/
/****************/

a.button{
	position: relative;
	display: inline-block;
	width: 100%;
	height: 56px;
	margin: 10vw auto;
	background: #3CC5EF;
	color: #FFFFFF;
	text-transform: uppercase;
	letter-spacing: 1px;
	text-decoration: none;
	text-align: center;
	line-height: 56px;
	transition: all 0.7s;
}

a.button:hover{
	background: #5B6169;
	color: #FFFFFF;
}

/***********************************************************/
/**************** MEDIA QUERIES ****************************/
/***********************************************************/

@media (max-width: 320px) {

	h1{
		font-size: 1.3em;
	}

	p{
		font-size: 16px;
	}
	span{
		font-size: 16px;
	}
	.price-label{
		width: 80px;
	}
}

@media (min-width: 640px) {

	h1{
	font-size: 3em;
	font-weight: 300;
	text-align: center;
	letter-spacing: 10px;
	}

	p{
		line-height: 1;
	}

	header p{
		font-size: ;
		text-align: center;
	}

	.logo{
		width: 153px;
		height: auto;
		display: block;
		margin: 0 auto;
	}

	header{
		background: #17191B;
		padding: 4vw 0;
	}
	section{
		padding: 4vw 0;
	}

	.pricelist-category{
		clear: both;
		margin: 2vw 0; 
		display: flow-root; 
	}

	.pricelist-category h2{
		padding-left: 16px;
	}

	.item-category h3{
		padding-left: 16px; 
	}

	.item-name p{
		padding-left: 16px; 
	}

	span.delimiter{
		margin-left: 16px;
	}

	.item-price{
		float: left;
		width: 30%;
	}

	.price-label{
		float: right;
		background: #E6E9ED;
		text-align: center;
		margin: 4px;
		color: #17191B;
		display: block;
	}
	
	.item{
		position: relative;
		width: 100%;
		min-height: 56px;

		padding: 8px 8px 8px 0;
	}

	.item-attached{
		width: 94%;
		min-height: 40px; 
		padding: 0 3px 0;
		margin-left: 6%;
	}

	a.button{
		width: 200px;
		margin: 4vw auto;
		display: block;
	}

}
